.search-container {
  position: relative;
  padding-top: 145px; }
  .search-container #search-bar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 30px;
    width: 260px;
    border-radius: 9px;
    text-align: center;
    outline: none; }
