.search-container {
  position: relative;
  margin-top: 60px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  #search-bar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 30px;
    width: 260px;
    border-radius: 9px;
    text-align: center;
    outline: none;
  }
}
