.watched-products-container {
  width: 100%;
  overflow:hidden;
  position: absolute;
  top: 50%;
  left:75%;
  transform: translateY(-50%);
  ul {
    margin: 0;
    padding: 0;
    font: bold 14px Verdana;
    list-style-type: none;
    text-align: left;
  }
  li {
    display: block;
    margin: 0;
    .icons {
      position: relative;
      display: inline-block;
      height: 60px;
      width: 60px;
      margin: 15px 0px 15px 30px;
      text-align: center;
      text-decoration: none;
      color: #1CB1F5;
      background: #fff;
      border: 2px solid #aeb716;
      border-radius: 100%;
      &:hover {
        text-decoration: none;
        color: #000;
        //background: #1CB1F5;
        box-shadow: 0px 0px 20px #1CB1F5;
        border-radius: 100%;
        border: 2px solid #000;
        transform: rotate(360deg);
        transition: all 0.3s ease-out 0s;
      }
      span {
        position:absolute;
        top:30%;
        height: 27px;
        width: 27px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50px;
        border: none;
        box-sizing: border-box;
        outline: none;
        background-image: url('../images/watch.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
      #alternative-stores {
        background-image: url('../images/store.png');
      }
      #sales {
        background-image: url('../images/sale.png');
      }
      #improve-app {
        background-image: url('../images/improve.png');

      }
    }
  }
  #watched-products {

  }
  .watched-products-details {
    position: absolute;
  }
  .show {
    visibility: visible;
    /*position: absolute;
    display: inline-block;
    left: -80px;
    top: 0;
    background-color: red;
    width: 108px;*/
  }
  .hide {
    visibility: hidden;
    position: absolute;
  }
}

#temp_menu {

}
